oslo.config>=1.11.0  # Apache-2.0
oslo.i18n>=1.5.0  # Apache-2.0
keystonemiddleware>=2.0.0
jsonschema>=2.0.0,<3.0.0,!=2.5.0
elasticsearch>=1.3.0

#Non-compliant with global-requirements: falcon>=0.1.6,<0.2.0
falcon>=0.2.0
