setuptools>=16.0
pbr>=0.6,!=0.7,<1.0
python-swiftclient>=2.2.0,<2.5.0
python-keystoneclient>=1.2.0,<1.4.0
python-cinderclient>=1.1.0,<1.2.0
python-glanceclient>=0.15.0,<0.18.0
python-novaclient>=2.22.0,<2.24.0
python-openstackclient>=1.0.3,<1.1.0
oslo.utils>=1.4.0,!=1.4.1,<1.5.0
oslo.i18n>=1.5.0,<1.6.0

PyMySQL>=0.6.2  # MIT License
pymongo>=2.6.3,<3.0
# Not in global-requirements
apscheduler
paramiko>=1.13.0
