# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
flake8<2.6.0,>=2.5.4 # MIT
hacking<0.11,>=0.10.2
coverage>=3.6 # Apache-2.0
discover # BSD
mock>=2.0 # BSD
pylint==1.4.5 # GPLv2
python-subunit>=0.0.18 # Apache-2.0/BSD
sphinx!=1.3b1,<1.3,>=1.2.1 # BSD
oslosphinx!=3.4.0,>=2.5.0 # Apache-2.0
testrepository>=0.0.18 # Apache-2.0/BSD
testtools>=1.4.0 # MIT

# Tempest Plugin
tempest-lib>=0.14.0 # Apache-2.0
