flake8>=2.2.4,<=2.4.1
hacking>=0.10.2,<0.11
coverage>=3.6
discover
mock>=1.2
pylint==1.4.5 # GNU GPL v2
python-subunit>=0.0.18
sphinx>=1.1.2,!=1.2.0,!=1.3b1,<1.3 # BSD
oslosphinx>=2.5.0,!=3.4.0 # Apache-2.0
testrepository>=0.0.18
testtools>=1.4.0
